test/multij/xml/test.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="a">
      <element name="b">
        <attribute name="c">
          <data type="NCName"/>
        </attribute>
      </element>
    </element>
  </start>
</grammar>
